<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      
      <service name="Host1.DataService" behaviorConfiguration="debug">
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/" />
          </baseAddresses> 
        </host>-->
        <endpoint address="http://localhost:8080/DataService"
                  binding="basicHttpBinding"
                  contract="Host1.IDataService" />
        <!--<endpoint address="net.tcp://localhost/DataService"
                  binding="netTcpBinding"
                  contract="Host1.IDataService" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>