<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MyService/hi" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyService" contract="ServRef.IMyService" name="BasicHttpBinding_IMyService"/>
        </client>
    </system.serviceModel>
</configuration>
