<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="UserName"/>            
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="usernameServiceBehavior">
          <serviceCredentials>
            <!-- Installing my custom validator here -->
            <userNameAuthentication 
				userNamePasswordValidationMode="Custom" 
				customUserNamePasswordValidatorType="SecurityCustomUsernamePassword1.MyValidator, SecurityCustomUsernamePassword1"/>
            <serviceCertificate findValue="MyCommonName" x509FindType="FindBySubjectName" storeLocation="CurrentUser"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="SecurityCustomUsernamePassword1.SecretService" 
			   behaviorConfiguration="usernameServiceBehavior">
        <endpoint 
			address="http://localhost:8080/SecurityCustomUsernamePassword1" 
			binding="wsHttpBinding" 
			contract="SecurityCustomUsernamePassword1.ISecretService" />
      </service>
    </services>    
    
    <!-- ============================= Client part ================================== -->
    <client>
      <endpoint 
		name="client1" 
		address="http://localhost:8080/SecurityCustomUsernamePassword1" 
		binding="wsHttpBinding" 
		contract="SecurityCustomUsernamePassword1.ISecretService"> 
        <identity>
          <!-- Tell the endpont to expect my test certificate whose name does not match my host name -->
          <dns value="MyCommonName"/>
        </identity>
      </endpoint>
    </client>
    
  </system.serviceModel>
</configuration>