<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <client>
      <!--<endpoint name="SingleMode"
        address="http://localhost:8100/single"
        binding="basicHttpBinding"
        contract="Concurrency1.ICalculator" />

      <endpoint name="MultiMode"
        address="http://localhost:8102/multi"
        binding="basicHttpBinding"
        contract="Concurrency1.ICalculator" />-->

      <endpoint name="SingleMode" 
				address="net.tcp://localhost:8100/single" 
				binding="netTcpBinding" 
				contract="Concurrency1.ICalculator" />
    
      <endpoint name="MultiMode" 
				address="net.tcp://localhost:8102/multi" 
				binding="netTcpBinding" 
				contract="Concurrency1.ICalculator" />
      
    </client>
    
    <services>
      <!--<service name="Concurrency1.CalcSingle"
        behaviorConfiguration="serviceDebug">
        <endpoint
          address="http://localhost:8100/single"
          binding="basicHttpBinding"
          contract="Concurrency1.ICalculator" />
      </service>

      <service name="Concurrency1.CalcMulti"
        behaviorConfiguration="serviceDebug">
        <endpoint
          address="http://localhost:8102/multi"
          binding="basicHttpBinding"
          contract="Concurrency1.ICalculator" />
      </service>-->
      
      <service name="Concurrency1.CalcSingle" 
			   behaviorConfiguration="serviceDebug">
        <endpoint 
			address="net.tcp://localhost:8100/single" 
			binding="netTcpBinding" 
			contract="Concurrency1.ICalculator" />
      </service>

      <service name="Concurrency1.CalcMulti" 
			   behaviorConfiguration="serviceDebug">
        <endpoint 
			address="net.tcp://localhost:8102/multi" 
			binding="netTcpBinding"
			contract="Concurrency1.ICalculator" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceDebug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>