<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="binaryHttp">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>

    <services>
      <service name="CustomBinding.EchoService">
        <endpoint 
			address="http://localhost:8080/echo" 
			binding="customBinding" 
			bindingConfiguration="binaryHttp" 
			contract="CustomBinding.IEchoService" />
      </service>
    </services>

    <client>
      <endpoint 
		  name="Echo" 
		  address="http://localhost:8080/echo" 
		  binding="customBinding" 
		  bindingConfiguration="binaryHttp" 
		  contract="CustomBinding.IEchoService" />
    </client>
  </system.serviceModel>
</configuration>