<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="DiscoveryChat.ChatServer">
        <endpoint kind="udpDiscoveryEndpoint" />
        <endpoint 
			address="net.tcp://192.168.15.110:8080/chat" 
			binding="netTcpBinding" 
			contract="DiscoveryChat.IChatServer"/>          
      </service>        
    </services>
    <client>
      <endpoint kind="udpDiscoveryEndpoint" />
      <endpoint
		  address="net.tcp:192.168.15.110:8088/chatclient" 
		  binding="netTcpBinding" 
		  contract="DiscoveryChat.IChatClient" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>