<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Host1.DataService"
                address="http://localhost:8080/DataService"
                binding="basicHttpBinding"
                contract="Host1.IDataService" />
      <!--<endpoint name="Host1.DataService"
                address="net.tcp://localhost/DataService"
                binding="netTcpBinding"
                contract="Host1.IDataService" />-->
    </client>
  </system.serviceModel>
</configuration>