<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service
        name="SecurityInternet1Service.AccountService"
        behaviorConfiguration="internetService">
        <endpoint
          address="http://localhost/SecurityInternet1"
          binding="wsHttpBinding"
          contract="SecurityInternet1Service.IAccount" 
          behaviorConfiguration="internetEndpoint"
          />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="internetEndpoint">
          <!-- No, the client uses UserName instead. <clientCredentials>
            <windows/>
          </clientCredentials>-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="internetService">
          <serviceCredentials> 
            <serviceCertificate findValue="MyCommonName" x509FindType="FindBySubjectName" storeLocation="CurrentUser"/>
            <userNameAuthentication userNamePasswordValidationMode="Windows"/>
          </serviceCredentials>
          <!--Is this needed? Not until I started using PrincipalPermission in the service. <serviceAuthorization principalPermissionMode="UseWindowsGroups" />-->
          <serviceAuthorization principalPermissionMode="UseWindowsGroups" /> <!-- Got: "The trust relationship between this workstation and the primary domain failed." when not using workstation prefix for group in PrincipalPermission demand. -->
          <!--When I started with security demands, I seems I need to have contact with the domain server (VPN) even when calling methods without demands. -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>