<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="auditAll">
          
          <!--Comments:
          - auditLogLocation: Special permission is needed to log to Security!
          - Did not find the authorization failure (when caller is not admin) in the log
          -->          
          <serviceSecurityAudit 
			  auditLogLocation="Application" 
			  messageAuthenticationAuditLevel="SuccessOrFailure" 
			  serviceAuthorizationAuditLevel="SuccessOrFailure"/>

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!--<behavior name="justExperimenting">
        </behavior>-->
      </endpointBehaviors>
      </behaviors>
    <services>
      <service name="security.MySecureService" 
			   behaviorConfiguration="auditAll">

        <endpoint 
			address="net.tcp://localhost:8888/security" 
			binding="netTcpBinding" 
			contract="security.IMySecureService" 
			behaviorConfiguration="justExperimenting"/>
      </service>            
    </services>
    <client>
      <endpoint 
		  name="s1" 
		  address="net.tcp://localhost:8888/security" 
		  binding="netTcpBinding" 
		  contract="security.IMySecureService" />
    </client>

  </system.serviceModel>
</configuration>