<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <!--<system.serviceModel>
    <services>
      <service name="Rest1.MusicLibraryService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/musiclib"/>
          </baseAddresses>
        </host>
        <endpoint
          address=""
          binding="webHttpBinding"
          contract="Rest1.IMusicLibraryService"
          behaviorConfiguration="webHttp"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>