<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings> 
      <wsDualHttpBinding>
        <binding name="tiny" 
				 maxReceivedMessageSize="1000000" >
          <readerQuotas maxStringContentLength="1000"/>
          <!--<reliableSession ordered="true"/>-->
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>      
      <!--<endpoint name="talk1" 
                address="http://localhost:8081/Talk"
                binding="wsDualHttpBinding"
                contract="CallbackService.ITalk" />-->
      <endpoint name="talk1" 
				address="net.tcp://localhost:8081/Talk" 
				binding="netTcpBinding" 
				contract="CallbackService.ITalk" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
        
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>           
      
      <service name="CallbackService.TalkService">
        
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/"/>
          </baseAddresses>
        </host>-->
        <!--<endpoint address="Talk"
                  binding="wsDualHttpBinding"
                  contract="CallbackService.ITalk" 
                  bindingConfiguration="tiny"/>-->
        <endpoint address="net.tcp://localhost:8081/Talk" 
				  binding="netTcpBinding" 
				  contract="CallbackService.ITalk" />
        
      </service>
    </services>
  </system.serviceModel>
</configuration>