<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="client1" 
				address="http://localhost:8080/Greet" 
				binding="wsHttpBinding" 
				contract="wshttp1.IGreet" 
				bindingConfiguration="unreliableWS"/>
    </client>
    <services>     
      <!--                 -->
      <!-- WsHttp with mex -->
      <!--                 -->
      <service 
		  name="wshttp1.GreetService" 
		  behaviorConfiguration="mexGet">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
        <endpoint 
			address="Greet" 
			binding="wsHttpBinding" 
			contract="wshttp1.IGreet" 
			bindingConfiguration="unreliableWS" 
			bindingNamespace="http://helenaofredrik.se/mcpd/wshttp1/Greet"/>
        <!--<endpoint 
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexGet">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="reliableWS">
          <reliableSession enabled="true" ordered="true"/>
        </binding>
        <binding name="unreliableWS">
          <reliableSession enabled="false" ordered="false"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>