<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true">
        <listeners>
          <add name="Default" 
			   type="System.Diagnostics.DefaultTraceListener">
            <filter type="" />
          </add>
          <add name="MessageLogger" 
			   type="System.Diagnostics.XmlWriterTraceListener" 
			   initializeData="WcfMessageLog.txt">
            <filter type="" />
          </add>
        </listeners>
      </source>
      
      <source name="System.ServiceModel" 
			  propagateActivity="true" 
			  switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add initializeData="c:\arb\mcpd\wcf\messagelogging1\app_tracelog.svclog" 
		   type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
		   name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging 
		  logEntireMessage="true" 
		  logKnownPii="true" 
		  logMessagesAtServiceLevel="true" 
		  maxMessagesToLog="2000" />
    </diagnostics>
    
    <services>      
      <service name="MessageLogging1.Phone">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/ml"/>
          </baseAddresses>
        </host>
        <endpoint 
			address="phone" 
	        binding="netTcpBinding" 
			contract="MessageLogging1.IPhone" 
			/>
      </service>
    </services>
    
    
    <client>
      <endpoint address="net.tcp://localhost/ml/phone" binding="netTcpBinding" 
				contract="MessageLogging1.IPhone" name="nr1" />
    </client>
  </system.serviceModel>
</configuration>