<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="AccountService"
        address="http://localhost/SecurityInternet1"
        binding="wsHttpBinding"
        contract="SecurityInternet1Service.IAccount"
        behaviorConfiguration="manualUsernameCred">
        <identity>
          <dns value="MyCommonName"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="manualUsernameCred">
          <!-- Set username and password manually in the client code. -->
        </behavior>
        <behavior name="windowsCred">
          <clientCredentials>
            <windows/> <!-- Did not work. Maybe needs to be on the intranet. TODO Try with active VPN. -->
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Message">
            <!--<message clientCredentialType="Windows" />-->
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>